.custom-file {
  border: 1px solid #d3394c;
  text-align: center;
  height: 40px;
  line-height: 38px;
  width: 100%;
  color: #FFFFFF;
}

.custom-file > label {
  display: block;
  padding: 0px 15px;
  background-color: #d3394c;
  border-right: 1px solid transparent;
  cursor: pointer;
}

.custom-file:hover > label {
  border-right-color: #d3394c;
  background-color: transparent;
}

.custom-file input[type="file"] {
  display: none;
}